<br>

<div class="container" >
    <div class="card">
        <div class="card-body center">

          <p *ngIf="negotiating == true">Item is currently being negotiated!</p>

          <h3>{{ item.name }}</h3>  

          <div>
            <strong><em>Description:</em></strong>  {{ item.description }}
            <br>
            <strong><em>Condition:</em></strong>  {{ item.conditionAndAge }}
            <br>
            <strong><em>Asking Price:</em></strong>  {{ item.askingPrice }}
            <br>
            <strong><em>Other Information:</em></strong>  {{ item.otherInfo }}
            <br>
            <strong><em>Dimensions:</em></strong>  {{ item.dimensions }}
            <br>
            <strong><em>Niche Market:</em></strong>  {{ item.nicheMarket }}
            <br>
            <strong><em>Tags:</em></strong>  #{{ item.tags }}
          </div>
    
          <hr />

          <div>
            <button class="editButton btn btn-primary" type="button" >Contact User!</button>
          </div>
    
        </div>
    </div>
</div>

<br>