h1 {
  text-align: center;
  color: #007bff;
}

p {
  font-weight: bold;
  text-align: right;
  margin-bottom: 30px;
  color: #007bff;
}

button {
  padding: 15px;
  font-size: medium;
}

button:hover {
  background-color: darkslateblue;
  color: white;
}

/* a {
  background-color: #007bff;
  color: white;
  padding: 10px;
} */

a:hover {
  color: darkslateblue;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  filter: invert(90%);
}

.center {
  text-align: center;
}

.editButton {
  margin-right: 10px;
}

.links {
  text-align: center;
}

.row {
  width: 100%;
}

.col try {
  text-align: right;
  float: left;
}

.col test {
  text-align: left;
  float: right;
}
