h1 {
  text-align: center;
  color: #007bff;
}

p {
  font-weight: bold;
  margin-bottom: 30px;
}

button {
  padding: 15px;
  font-size: medium;
}

button:hover {
  background-color: darkslateblue;
  color: white;
}

.center {
  text-align: center;
}