<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spectral+SC:wght@500&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/e844ed806d.js"
    crossorigin="anonymous"
  ></script>
</head>

<body>
  <nav>
    <div class="logo">
      <h4>
        <a class="nav-link-logo" (click)="onShowHomepage()"
          >NICHE MARKET PLACE</a
        >
      </h4>
    </div>
    <div class="search-input">
      <li><input type="text" placeholder="Search" /></li>
      <div class="autocom-box">
        <li>Place Holder</li>
        <li>Place Holder</li>
        <li>Place Holder</li>
      </div>
    </div>
    <ul class="nav-links">
      <div class="drop-down-menu">
        <li><a class="nav-link4" (click)="onGoToAccount()">Account</a></li>
        <ul></ul>
      </div>
      <li *ngIf="this.acctService.signedInUser.id == 0">
        <a class="nav-link1" (click)="onCreateAccount()">Register</a>
      </li>

      <li *ngIf="this.acctService.signedInUser.id == 0">
        <a class="nav-link2" (click)="navToLoginPage()">Login</a>
      </li>
      <li *ngIf="this.acctService.signedInUser.id != 0">
        <a class="nav-link3" (click)="onSignout()">Sign out</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</body>
