* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo {
  font-family: "Dancing Script", cursive;
  color: #4d1c2f;
  letter-spacing: 5px;
  font-size: 28px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Spectral SC", serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-link1:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.nav-link2:hover {
  cursor:pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.nav-link3:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.nav-link4:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.nav-link-logo {
  text-decoration: none;
  color: #4d1c2f;
}
.nav-link-logo:hover {
  box-shadow: 0 0 15px rgb(252, 250, 250);
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: bold;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  background-color: black;
  font-weight: bold;
  width: 25px;
  height: 3px;
  margin: 5px;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
.search-input {
  background: whitesmoke;
  list-style: none;
  width: 35%;
  border-radius: 25px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
}
.search-input input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 100vh;
  padding: 0 1px 0 18px;
  font-size: 18px;

  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2);
}
.search-input .autocom-box {
  padding: 5px 10px 20px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 55%;
  /* pointer-events: none; */
}
.search-input .autocom-box:hover {
  opacity: 100%;
}
.autocom-box li {
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #4d1c2f;

  /* display: none; */
}
.autocom-box li:hover {
  background: lightgrey;
  border-radius: 100vh;
  opacity: 100%;
}
